{{- if or .Values.image_version_ironic_api .Values.image_version_ironic_conductor -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: ironic-etc
  labels:
    system: openstack
    type: configuration
    component: ironic

data:
  ironic.conf: |
{{ include (print .Template.BasePath "/etc/_ironic.conf.tpl") . | indent 4 }}
  policy.json: |
{{ include (print .Template.BasePath "/etc/_policy.json.tpl") . | indent 4 }}
  rootwrap.conf: |
{{ include (print .Template.BasePath "/etc/_rootwrap.conf.tpl") . | indent 4 }}
  ipxe_config.template: |
{{ include (print .Template.BasePath "/etc/_ipxe_config.template.tpl") . | indent 4 }}
  logging.conf: |
{{ include "loggerIni" .Values.logging | indent 4 }}
{{ end -}}
