apiVersion: v1
kind: ConfigMap
metadata:
  name: ironic-inspector-etc
  labels:
    system: openstack
    type: configuration
    component: ironic

data:
  ironic.conf: |
{{ include (print .Template.BasePath "/etc/_ironic_inspector.conf.tpl") . | indent 4 }}
