# Default values for neutron.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value
global:
  image_namespace: REQUIRED
  image_repository: REQUIRED
  neutron_api_port_admin: '9696'
  neutron_api_port_internal: '9696'
  neutron_api_port_public: '443'
  default_mtu: '9050'

  hypervisors_vmware: []

  network_agents:
    - name: DEFINED-IN-REGION-CHART
      node: DEFINED-IN-REGION-CHART

pod:
  replicas:
    api: 2
  lifecycle:
    upgrades:
      deployments:
        revision_history: 5
        pod_replacement_strategy: RollingUpdate
        rolling_update:
           max_unavailable: 0
           max_surge: 1

debug: "True"

db_name: neutron
db_user: neutron
db_password: DEFINED-IN-REGION-CHART

port_metrics: '9102'

sentry_dsn: DEFINE-IN-REGION-CHART

image_version_neutron_server_m3: DEFINED-IN-REGION-CHART
image_version_neutron_dhcp_agent: DEFINED-IN-REGION-CHART
image_version_neutron_metadata_agent: DEFINED-IN-REGION-CHART
image_version_neutron_l3_agent: DEFINED-IN-REGION-CHART
image_version_neutron_openvswitch_agent: DEFINED-IN-REGION-CHART
image_version_neutron_vswitchdb: DEFINED-IN-REGION-CHART
image_version_neutron_vswitchd: DEFINED-IN-REGION-CHART

service_plugins: neutron_lbaas.services.loadbalancer.plugin.LoadBalancerPluginv2,networking_cisco.plugins.cisco.service_plugins.cisco_device_manager_plugin.CiscoDeviceManagerPlugin,networking_cisco.plugins.cisco.service_plugins.cisco_router_plugin.CiscoRouterPlugin
default_router_type: ASR1k_router
router_scheduler_driver: neutron.scheduler.l3_agent_scheduler.LeastRoutersScheduler


logging:
    formatters:
        context:
            class: oslo_log.formatters.ContextFormatter
        default:
            format: "%(message)s"
    handlers:
        stdout:
            class: StreamHandler
            args: "(sys.stdout,)"
            formatter: context
        "null":
            class: logging.NullHandler
            formatter: default
            args: "()"
        sentry:
            class: "raven.handlers.logging.SentryHandler"
            level: ERROR
            args: "()"
    loggers:
        root:
            handlers: "null"
            level: WARNING
        neutron:
            handlers: stdout, sentry
            level: WARNING
        neutron_lbaas:
            handlers: stdout, sentry
            level: WARNING
        amqp:
            handlers: stdout, sentry
            level: WARNING
        amqplib:
            handlers: stdout, sentry
            level: WARNING
        sqlalchemy:
            handlers: stdout, sentry
            level: WARNING
        boto:
            handlers: stdout, sentry
            level: WARNING
        suds:
            handlers: stdout, sentry
            level: INFO
        eventlet.wsgi.server:
            handlers: stdout, sentry
            level: INFO

pg_metrics:
  name: neutron
  db_name: neutron
  db_user: neutron
  db_password: DEFINED-IN-REGION-CHART
  customMetrics:
    openstack_neutron_networks_count:
      query: "SELECT COUNT(*) AS gauge, status FROM networks GROUP BY networks.status"
      metrics:
        - status:
            usage: "LABEL"
            description: "Network Status"
        - gauge:
            usage: "GAUGE"
            description: "Networks Count"
    openstack_neutron_routers_count:
      query: "SELECT COUNT(*) AS gauge, status FROM routers GROUP BY routers.status"
      metrics:
        - status:
            usage: "LABEL"
            description: "Router Status"
        - gauge:
            usage: "GAUGE"
            description: "Router Count"
    openstack_neutron_loadbalancer_count:
      query: "SELECT COUNT(*) AS gauge, operating_status FROM lbaas_loadbalancers GROUP BY lbaas_loadbalancers.operating_status"
      metrics:
        - operating_status:
            usage: "LABEL"
            description: "lbaas Status"
        - gauge:
            usage: "GAUGE"
            description: "lbaas Count"
    openstack_neutron_SAP_IP_status:
      query: "SELECT floatingips.floating_network_id, networks.name AS network_name, floatingips.status, COUNT(*) AS count_gauge FROM floatingips INNER JOIN networks ON floatingips.tenant_id=networks.tenant_id WHERE floating_ip_address LIKE '10%' GROUP BY floatingips.floating_network_id, floatingips.status, networks.name"
      metrics:
        - floating_network_id:
            usage: "LABEL"
            description: "Floating Network ID"
        - network_name:
            usage: "LABEL"
            description: "Network Name"
        - status:
            usage: "LABEL"
            description: "Floating IP Status per Network"
        - count_gauge:
            usage: "GAUGE"
            description: "Count of Floating IP by status"
    openstack_neutron_Internet_IP_status:
      query: "SELECT floatingips.floating_network_id, networks.name AS network_name, floatingips.status, COUNT(*) AS count_gauge FROM floatingips INNER JOIN networks ON floatingips.tenant_id=networks.tenant_id WHERE floating_ip_address LIKE '15%' GROUP BY floatingips.floating_network_id, floatingips.status, networks.name"
       metrics:
        - floating_network_id:
            usage: "LABEL"
            description: "Floating Network ID"
        - network_name:
            usage: "LABEL"
            description: "Network Name"
        - status:
            usage: "LABEL"
            description: "Floating IP Status per Network"
        - count_gauge:
            usage: "GAUGE"
            description: "Count of Floating IP by status"
    # openstack_neutron_SAP_IPallocationpools_size:
    #   query: "SELECT \"last_ip\"::inet - \"first_ip\"::inet as iprange_value, subnet_id FROM ipallocationpools WHERE \"first_ip\" LIKE '10%'"
    #   metrics:
    #     - last_ip:
    #         usage: "LABEL"
    #         description: "Last IP Address"
    #     - first_ip:
    #         usage: "LABEL"
    #         description: "First IP Address"
    #     - subnet_id:
    #         usage: "LABEL"
    #         description: "SUBNET_ID details"
    #     - gauge:
    #         usage: "GAUGE"
    #         description: "Difference value of last_ip - first_ip"
    # openstack_neutron_Internet_IPallocationpools_size:
    #   query: "SELECT \"last_ip\"::inet - \"first_ip\"::inet as iprange_value, subnet_id FROM ipallocationpools WHERE \"first_ip\" LIKE '15%'"
    #   metrics:
    #     - last_ip:
    #         usage: "LABEL"
    #         description: "Last IP Address"
    #     - first_ip:
    #         usage: "LABEL"
    #         description: "First IP Address"
    #     - subnet_id:
    #         usage: "LABEL"
    #         description: "SUBNET_ID details"
    #     - gauge:
    #         usage: "GAUGE"
    #         description: "Difference value of last_ip - first_ip"
    #  openstack_neutron_SAP_IPused_per_subnet:
    #    query: "SELECT subnet_id, count(*) as ipused, network_id FROM ipallocations WHERE ip_address LIKE '10%' GROUP BY ipallocations.subnet_id, ipallocations.network_id"
    #     metrics:
    #    - subnet_id:
    #        usage: "LABEL"
    #        description: "SUBNET_ID details"
    #    - network_id:
    #        usage: "LABEL"
    #        description: "network_id details"
    #    - ipused:
    #        usage: "GAUGE"
    #        description: "SAP IPs used per subnet"
    #  openstack_neutron_Internet_IPused_per_subnet:
    #  query: "SELECT subnet_id, count(*) as ipused, network_id FROM ipallocations WHERE ip_address LIKE '15%' GROUP BY ipallocations.subnet_id, ipallocations.network_id"
    #  metrics:
    #    - subnet_id:
    #        usage: "LABEL"
    #        description: "SUBNET_ID details"
    #    - network_id:
    #        usage: "LABEL"
    #        description: "network_id details"
    #    - ipused:
    #        usage: "GAUGE"
    #        description: "Internet IPs used per subnet"

postgres:
  name: neutron
  metrics:
    enabled: false
