# Default values for designate.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value
#
debug: "True"

sentry_dsn: DEFINE-IN-REGION-CHART

global:
  image_repository: DEFINED-IN-OPENSTACK-CHART
  image_namespace: DEFINED-IN-OPENSTACK-CHART
  designate_api_port_internal: DEFINED-IN-OPENSTACK-CHART
  designate_metrics_port: DEFINED-IN-OPENSTACK-CHART
  designate_mdns_port_public: DEFINED-IN-OPENSTACK-CHART
  designate_mdns_external_ip: DEFINED-IN-REGION-CHART
  designate_mdns_akamai_ip: DEFINED-IN-REGION-CHART

image_version_designate_api:  DEFINED-IN-REGION-CHART
image_version_designate_central:  DEFINED-IN-REGION-CHART
image_version_designate_mdns:  DEFINED-IN-REGION-CHART
image_version_designate_pool_manager:  DEFINED-IN-REGION-CHART

bind_pools:
  - name: default
    nameservers:
      - hostname: DEFINED-IN-REGION-CHART
        ip:  DEFINED-IN-REGION-CHART
      - hostname: DEFINED-IN-REGION-CHART
        ip:  DEFINED-IN-REGION-CHART
      - hostname: DEFINED-IN-REGION-CHART
        ip:  DEFINED-IN-REGION-CHART
    options:
      tsig_key_name: DEFINED-IN-REGION-CHART
      tsig_key_secret: DEFINED-IN-REGION-CHART
      tsig_key_algorithm: DEFINED-IN-REGION-CHART
## Akamai Pool values if needed
#akamai_pools:
#  - name: akamai_pool
#    nameservers:
#      - hostname: DEFINED-IN-REGION-CHART
#        ip: DEFINED-IN-REGION-CHART
#    options:
#      username: DEFINED-IN-REGION-CHART
#      password: DEFINED-IN-REGION-CHART
#      tsig_key_name: DEFINED-IN-REGION-CHART
#      tsig_key_secret: DEFINED-IN-REGION-CHART
#      tsig_key_algorithm: DEFINED-IN-REGION-CHART
#    also_notifies:
#      - host: DEFINED-IN-REGION-CHART
#        port: DEFINED-IN-REGION-CHART

rndc_key: DEFINED-IN-REGION-CHART

poolmanager:
  db_name:  designate_poolmanager
db_name: designate


mariadb:
  name: designate
  initdb_configmap: designate-initdb
  persistence_claim: db-designate-pvclaim

mariadb-metrics:
  name: designate
  db_name: designate
  db_user: designate
  db_password: DEFINED-IN-REGION-CHART
  customMetrics:
      openstack_designate_zones_count:
        query: "select count(name) AS guage, status from zones group by zones.status"
        metrics:
          - name:
              usage: "LABEL"
              description: "Zone Name"
          - status:
              usage: "LABEL"
              description: "Zone status"
          - guage:
              usage: "GUAGE"
              description: " Zone Count"
      openstack_designate_records_count:
        query: "select count(id) AS gauge, zone_id, status from records group by records.status"
        metrics:
           - id:
              usage: "LABEL"
              description: "Record ID"
           - zone_id:
              usage: "LABEL"
              description: "Zone id"
          - status:
              usage: "LABEL"
              description: "Record status"
          - guage:
              usage: "GUAGE"
              description: " Zone Count"      
          
logging:
    formatters:
        context:
            class: oslo_log.formatters.ContextFormatter
        default:
            format: "%(message)s"
    handlers:
        stdout:
            class: StreamHandler
            args: "(sys.stdout,)"
            formatter: context
        "null":
            class: logging.NullHandler
            args: "()"
            formatter: default
        sentry:
            class: raven.handlers.logging.SentryHandler
            level: ERROR
            args: "()"
    loggers:
        root:
            handlers: stdout, sentry
            level: WARNING
        designate:
            handlers: stdout, sentry
            level: DEBUG
        amqp:
            handlers: stdout, sentry
            level: WARNING
        amqplib:
            handlers: stdout, sentry
            level: WARNING
        boto:
            handlers: stdout, sentry
            level: WARNING
        eventlet.wsgi.server:
            handlers: stdout, sentry
            level: INFO
        sqlalchemy:
            handlers: stdout, sentry
            level: WARNING
