{% if vcenter_nanny_enabled is defined and vcenter_nanny_enabled == "True" %}
kind: Service
apiVersion: v1
metadata:
  name: vcenter-nanny-{{ name }}
  namespace: monsoon3
  labels:
    system: openstack
    service: vcenter-nanny
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: 9456
spec:
  selector:
    component: vcenter-nanny-{{ name }}
  ports:
    - name: metrics
      port: 9456
{% endif %}
