apiVersion: v1
kind: ConfigMap
metadata:
  name: volume-vmware-{{ name }}
  labels:
    system: openstack
    type: configuration
    component: cinder
data:
  config.json: |
    {"command": "kubernetes-entrypoint",
       "config_files":[
           {"source": "/cinder-etc/cinder.conf", "dest": "/etc/cinder/cinder.conf", "owner": "cinder", "perm": "0400"},
           {"source": "/cinder-etc/policy.json", "dest": "/etc/cinder/policy.json", "owner": "cinder", "perm": "0400"},
           {"source": "/cinder-etc/logging.conf", "dest": "/etc/cinder/logging.conf", "owner": "cinder", "perm": "0400"},
           {"source": "/var/lib/kolla/config_files/volume.conf", "dest": "/etc/cinder/volume.conf", "owner": "cinder", "perm": "0400"}
       ]
    }
  volume.conf: |
    [DEFAULT]
    enabled_backends = vmware
    storage_availability_zone = {{ availability_zone | quote }}

    [vmware]
    volume_backend_name = vmware
    volume_driver = cinder.volume.drivers.vmware.vmdk.VMwareVcVmdkDriver
    vmware_host_ip = {{ host }}
    vmware_host_username = {{ username | quote }}
    vmware_host_password = {{ password | quote }}
    vmware_insecure = True
    vmware_storage_profile = cinder-vvol
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: cinder-volume-vmware-{{ name }}
  labels:
    system: openstack
    type: backend
    component: cinder
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 3
  selector:
    matchLabels:
        name: cinder-volume-vmware-{{ name }}
  template:
    metadata:
      labels:
        name: cinder-volume-vmware-{{ name }}
      annotations:
        pod.beta.kubernetes.io/hostname: cinder-volume-vmware-{{ name }}
    spec:
      containers:
        - name: cinder-volume-vmware-{{ name }}
          image: {{ cinder_agent_image }}
          imagePullPolicy: IfNotPresent
          env:
            - name: KOLLA_CONFIG_STRATEGY
              value: "COPY_ALWAYS"
            - name: COMMAND
              value: "cinder-volume --config-file /etc/cinder/cinder.conf --config-file /etc/cinder/volume.conf"
            - name: SENTRY_DSN
              value: {{ cinder_sentry_dsn }}
          volumeMounts:
            - mountPath: /cinder-etc
              name: cinder-etc
            - mountPath: /var/lib/kolla/config_files
              name: volume-config
      volumes:
        - name: cinder-etc
          configMap:
            name: cinder-etc
        - name: volume-config
          configMap:
            name:  volume-vmware-{{ name }}
