{% if enabled is defined and enabled == True %}
{% for exporter_type in datacenter_exporter_types %}
---
kind: Service
apiVersion: v1
metadata:
  name: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
  namespace: maia
  labels:
    system: openstack
    service: metrics
    component: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
  annotations: {% if exporter_type['collector'] == "maia" %}
    maia.io/scrape: "true"
    maia.io/port: "{{ listen_port}}" {% elif exporter_type['collector'] == "prometheus" %}
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ listen_port }}" {% endif %}
spec:
  selector:
    component: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
  ports:
    - name: metrics
      port: {{ listen_port }}
{% endfor %}
{% endif %}
