apiVersion: v1
kind: ConfigMap
metadata:
  name: hypervisor-{{ name }}
  labels:
    system: openstack
    type: configuration
    component: nova
data:
  hypervisor.conf: |
    [DEFAULT]
    compute_driver=nova.virt.vmwareapi.VMwareVCDriver

    [vmware]
    insecure = True
    integration_bridge = {{ bridge | quote }}
    cache_prefix= "{{ name | ini_escape }}-images"
    host_ip = {{ host }}
    host_username = {{ username | quote }}
    host_password = {{ password | quote }}
    cluster_name = {{ cluster_name | quote }}
    datastore_regex = {{ datastore_regex | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ml2-vmware-{{ name }}-ini
  labels:
    system: openstack
    type: configuration
    component: neutron
data:
  ml2-vmware.ini: |
    [securitygroup]
    firewall_driver = networking_dvs.plugins.ml2.drivers.mech_dvs.agent.dvs_firewall.DvsSecurityGroupsDriver

    [ml2_vmware]
    vsphere_hostname = {{ host }}
    cluster_name = {{ cluster_name | quote }}

    vsphere_login = {{ username | quote }}
    vsphere_password = {{ password | quote }}

    network_maps = "{{ physical | ini_escape }}:{{ bridge | ini_escape }}"
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: nova-compute-{{ name }}
  labels:
    system: openstack
    type: backend
    component: nova
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 3
  selector:
    matchLabels:
        name: nova-compute-{{ name }}
  template:
    metadata:
      labels:
        name: nova-compute-{{ name }}
      annotations:
        pod.beta.kubernetes.io/hostname: nova-compute-{{ name }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "9102"
    spec:
      containers:
        - name: nova-compute-{{ name }}
          image: {{ nova_agent_image }}
          imagePullPolicy: IfNotPresent
          command:
            - kubernetes-entrypoint
          env:
            - name: COMMAND
              value: nova-compute --config-file /etc/nova/nova.conf --config-file /etc/nova/hypervisor.conf
            - name: NAMESPACE
              value: {{ namespace }}
            - name: SENTRY_DSN
              value: {{ nova_sentry_dsn }}
            - name: STATSD_HOST
              value: "localhost"
            - name: STATSD_PORT
              value: "9125"
          volumeMounts:
            - name: etcnova
              mountPath: /etc/nova
            - name: nova-etc
              mountPath: /etc/nova/nova.conf
              subPath: nova.conf
              readOnly: true
            - name: nova-etc
              mountPath: /etc/nova/policy.json
              subPath: policy.json
              readOnly: true
            - name: nova-etc
              mountPath: /etc/nova/logging.conf
              subPath: logging.conf
              readOnly: true
            - mountPath: /etc/nova/hypervisor.conf
              name: hypervisor-config
              subPath: hypervisor.conf
              readOnly: true
            - mountPath: /nova-patches
              name: nova-patches
        - name: neutron-dvs-agent
          image: {{ neutron_agent_image }}
          imagePullPolicy: IfNotPresent
          command:
            - /container.init/neutron-dvs-agent-start
          env:
            - name: DEBUG_CONTAINER
              value: "false"
            - name: SENTRY_DSN
              value: {{ neutron_sentry_dsn }}
            - name: STATSD_HOST
              value: "localhost"
            - name: STATSD_PORT
              value: "9125"
          volumeMounts:
            - mountPath: /neutron-etc
              name: neutron-etc
            - mountPath: /ml2-conf-vmware
              name: ml2-conf-vmware
            - mountPath: /container.init
              name: neutron-container-init
        - name: statsd
          image: prom/statsd-exporter
          imagePullPolicy: IfNotPresent
          ports:
            - name: statsd
              containerPort: 9125
              protocol: UDP
            - name: metrics
              containerPort: 9102
      volumes:
        - name: etcnova
          emptyDir: {}
        - name: nova-etc
          configMap:
            name: nova-etc
        - name: nova-patches
          configMap:
            name: nova-patches
        - name: hypervisor-config
          configMap:
            name: hypervisor-{{ name }}
        - name: nova-container-init
          configMap:
            name: nova-bin
            defaultMode: 0755
        - name: neutron-etc
          configMap:
            name: neutron-etc
        - name: ml2-conf-vmware
          configMap:
            name: ml2-vmware-{{ name }}-ini
        - name: neutron-container-init
          configMap:
            name: neutron-bin-vendor
            defaultMode: 0755
