{{% if vcenter_exporter_enabled is defined and vcenter_exporter_enabled == True %}}
{{% for exporter_type in vcenter_exporter_datacenter_exporter_types %}}
---
kind: Service
apiVersion: v1
metadata:
  name: vcenter-exporter-{{ name }}{{ exporter_type['name'] }}
  namespace: maia
  labels:
    system: openstack
    service: metrics
    component: vcenter-exporter-{{ name }}{{ exporter_type['name'] }}
  annotations: {{% exportertype['collector'] == "maia" %}
    maia.io/scrape: "true"
    maia.io/port: "{{$.Values.vcenter_exporter.listen_port}}" {{ else if eq $exportertype.collector "prometheus" }}
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ vcenter_exporter_listen_port }}" {{% endif %}}
spec:
  selector:
    component: vcenter-exporter-{{ name }}{{ exporter_type['name'] }}
  ports:
    - name: metrics
      port: {{ vcenter_exporter_listen_port }}
{{% endfor %}}
{{% endif %}}