{% if ((vcenter_exporter is defined) and
       (vcenter_exporter['enabled'] == "true")) %}
{% for exporter_type in vcenter_exporter['cluster_exporter_types'] %}
---
kind: Service
apiVersion: v1
metadata:
  name: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
  namespace: monsoon3
  labels:
    system: openstack
    service: metrics
    component: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
{% if exporter_type['collector'] is defined and exporter_type['collector'] != None %}
  annotations:
    maia.io/scrape: {% if 'maia' in exporter_type['collector'] %}"true"{% else %}"false"{% endif %}
    maia.io/port: "{{ vcenter_exporter['listen_port'] }}"
    prometheus.io/scrape: {% if 'prometheus' in exporter_type['collector'] %}"true"{% else %}"false"{% endif %}
    prometheus.io/port: "{{ vcenter_exporter['listen_port'] }}" {% endif %}
spec:
  selector:
    component: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
  ports:
    - name: metrics
      port: {{ vcenter_exporter['listen_port'] }}
{% endfor %}
{% endif %}
