{% if vcenter_exporter_enabled == "true" %}
{% set exporter_types = vcenter_exporter_datacenter_exporter_types.split(';') %}
{% for exporter_type in exporter_types %}
{% set keyvals = exporter_type.split(',') %}
{% set exporter_type_name = keyvals[0].split(':')[1] %}
{% set exporter_type_collector = keyvals[1].split(':')[1] %}
---
kind: Service
apiVersion: v1
metadata:
  name: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
  namespace: monsoon3
  labels:
    system: openstack
    service: metrics
    component: vcenter-exporter-{{ name }}-{{ exporter_type['name'] }}
{% if exporter_type['collector'] is defined %}{% if exporter_type['collector'] == "maia" %}
  annotations:
    maia.io/scrape: "true"
    maia.io/port: "{{ vcenter_exporter['listen_port'] }}" {% elif exporter_type['collector'] == "prometheus" %}
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ vcenter_exporter['listen_port'] }}" {% endif %}{% endif %}
spec:
  selector:
    component: vcenter-exporter-{{ name }}-{{ exporter_type_name }}
  ports:
    - name: metrics
      port: {{ vcenter_exporter_listen_port }}
{% endfor %}
{% endif %}
