# Default values for barbican.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value
#
#
global:
  image_repository: DEFINED-IN-REGION-CHART
  image_namespace: DEFINED-IN-REGION-CHART
  barbican_api_port_internal: '9292'

pod:
  replicas:
    api: 2
  lifecycle:
    upgrades:
      deployments:
        revision_history: 5
        pod_replacement_strategy: RollingUpdate
        rolling_update:
           max_unavailable: 0
           max_surge: 1

image_version_barbican: DEFINED-IN-REGION-CHART
debug: "True"

db_name: barbican
db_user: barbican
db_password: DEFINED-IN-REGION-CHART

pg_metrics:
  name: barbican
  db_name: barbican
  db_user: barbican
  db_password: DEFINED-IN-REGION-CHART

postgres:
  name: barbican

logging:
    formatters:
        context:
            class: oslo_log.formatters.ContextFormatter
        default:
            format: "%(message)s"
    handlers:
        stdout:
            class: StreamHandler
            formatter: context
            args: "(sys.stdout,)"
        sentry:
            class: raven.handlers.logging.SentryHandler
            level: ERROR
            args: "()"
    loggers:
        root:
            handlers: stdout, sentry
            level: WARNING
        barbican:
            handlers: stdout, sentry
            level: INFO
        eventlet.wsgi.server:
            handlers: stdout, sentry
            level: INFO

