apiVersion: v1
kind: ConfigMap
metadata:
  name: nova-etc
  labels:
    system: openstack
    type: configuration
    component: nova

data:
  nova.conf: |
{{ tuple "etc/_nova.conf.tpl" . | include "template" | indent 4 }}
  libvirtd.conf: |
{{ tuple "etc/_libvirtd.conf.tpl" . | include "template" | indent 4 }}
  logging.conf: |
{{ tuple "etc/_nova-logging.conf.tpl" . | include "template" | indent 4 }}
  policy.json: |
{{ tuple "etc/_nova-policy.json.tpl" . | include "template" | indent 4 }}
