apiVersion: v1
kind: ConfigMap
metadata:
  name: nova-etc
  labels:
    system: openstack
    type: configuration
    component: nova

data:
  nova.conf: |
{{ include (print .Template.BasePath "/etc/_nova.conf.tpl") . | indent 4 }}
  nova-api.conf: |
{{ include (print .Template.BasePath "/etc/_nova-api.conf.tpl") . | indent 4 }}
  nova-scheduler.conf: |
{{ include (print .Template.BasePath "/etc/_nova-scheduler.conf.tpl") . | indent 4 }}
  policy.json: |
{{ include (print .Template.BasePath "/etc/_nova-policy.json.tpl") . | indent 4 }}
  logging.ini: |
{{ include "loggerIni" .Values.logging | indent 4 }}
  api-paste.ini: |
{{ include (print .Template.BasePath "/etc/_api-paste.ini.tpl") . | indent 4 }}
{{- if .Values.audit.enabled }}
  nova_audit_map.yaml: |
{{ include (print .Template.BasePath "/etc/_nova_audit_map.yaml.tpl") . | indent 4 }}
{{- end }}
  rootwrap.conf: |
{{ include (print .Template.BasePath "/etc/_rootwrap.conf.tpl") . | indent 4 }}
  api-metadata.filters: |
{{ include (print .Template.BasePath "/etc/_api-metadata.filters.tpl") . | indent 4 }}
  compute.filters: |
{{ include (print .Template.BasePath "/etc/_compute.filters.tpl") . | indent 4 }}
  network.filters: |
{{ include (print .Template.BasePath "/etc/_network.filters.tpl") . | indent 4 }}
  watcher.yaml: |
{{ .Files.Get "etc/watcher.yaml" | indent 4 }}

