kind: Deployment
apiVersion: extensions/v1beta1

metadata:
  name: postgres-{{.Values.name}}
  namespace:  {{.Release.Namespace}}
  labels:
    system: openstack
    type: database
    component: {{.Values.name}}
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: postgres-{{.Values.name}}
  template:
    metadata:
      labels:
        name: postgres-{{.Values.name}}
      annotations:
{{- if or .Values.pgbouncer.enabled .Values.global.pgbouncer.enabled }}
        configmap-bin-hash: {{ include (print $.Template.BasePath "/bin-configmap.yaml") . | sha256sum }}
        configmap-etc-hash: {{ include (print $.Template.BasePath "/etc-configmap.yaml") . | sha256sum }}
{{- end }}
    spec:
      hostPID: false
      volumes:
        - name: postgres-persistent-storage
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: db-{{.Values.name}}-pvclaim
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- if and (not .Values.password) .Values.users }}
        - name: db-init
          emptyDir: {}
        - name: db-maintain
          configMap:
            name: postgres-bin-{{.Values.name}}
            defaultMode: 0755
        {{- else }}
        - name: db-init
          configMap:
            name: db-init-{{.Values.name}}
        - name: db-maintain
          configMap:
            name: db-maintain-{{.Values.name}}
        {{- end }}
        - name: postgres-etc
          configMap:
            name: postgres-etc-{{.Values.name}}
      containers:
        - name: postgres
          image: {{.Values.global.image_repository}}/{{.Values.global.image_namespace}}/postgres:{{.Values.image_version_postgres}}
          imagePullPolicy: IfNotPresent
          args: ["-c", "config_file=/postgresql-conf/postgresql.conf", "-c", "hba_file=/postgresql-conf/pg-hba.conf"]
          livenessProbe:
            exec:
              command:
              - pg_isready
              - -h
              - localhost
              - -p
              - "{{.Values.port_private}}"
              - -U
              - postgres
            initialDelaySeconds: 60
            timeoutSeconds: 5
          env:
            - name: PGDATA
              value: /postgresql-data/data/
            - name: POSTGRES_USER
              value: {{ .Values.user | quote }}
            - name: POSTGRES_PASSWORD
              value: {{ .Values.password | default (tuple . .Values.user | include "postgres.password_for_fixed_user") | quote }}
          ports:
            - name: postgres
              containerPort: {{ .Values.port_private }}
          volumeMounts:
            - name: postgres-persistent-storage
              mountPath: /postgresql-data
            - name: db-init
              mountPath: /docker-entrypoint-initdb.d
            - name: db-maintain
              mountPath: /docker-entrypoint-maintaindb.d
            - name: postgres-etc
              mountPath: /postgresql-conf
{{- if .Values.backup.enabled }}
        - image: {{.Values.global.image_repository}}/{{.Values.global.image_namespace}}/backup-tools:{{ .Values.backup.image_version }}
          imagePullPolicy: IfNotPresent
          name: backup
          env:
            - name: MY_POD_NAME
              value: postgres-backup-{{.Values.name}}
            - name: MY_POD_NAMESPACE
              value: {{.Release.Namespace}}
            - name: OS_AUTH_URL
              value: {{.Values.global.keystone_api_endpoint_protocol_internal}}://{{include "keystone_api_endpoint_host_internal" .}}:{{.Values.global.keystone_api_port_internal}}/v3
            - name: OS_AUTH_VERSION
              value: "3"
            - name: OS_IDENTITY_API_VERSION
              value: "3"
            - name: OS_USERNAME
              value: {{ .Values.backup.os_username }}
            - name: OS_USER_DOMAIN_NAME
              value: {{ .Values.backup.os_user_domain }}
            - name: OS_PROJECT_NAME
              value: {{ .Values.backup.os_project_name }}
            - name: OS_PROJECT_DOMAIN_NAME
              value: {{ .Values.backup.os_project_domain }}
            - name: OS_REGION_NAME
              value: {{ .Values.global.region }}
            - name: OS_PASSWORD
              value: {{ .Values.backup.os_password | quote }}
            - name: BACKUP_PGSQL_FULL
              value: {{ .Values.backup.interval_full | quote }}
#            - name: BACKUP_PGSQL_INCR
#              value: {{ .Values.backup.interval_incr | quote }}
{{- end }}
