apiVersion: v1
kind: ConfigMap
metadata:
  name: neutron-etc
  labels:
    system: openstack
    type: configuration
    component: neutron

data:
  api-paste.ini: |
{{ include (print .Template.BasePath "/etc/_api-paste.ini.tpl") . | indent 4 }}
  dhcp-agent.ini: |
{{ include (print .Template.BasePath "/etc/_dhcp-agent.ini.tpl") . | indent 4 }}
  dnsmasq.conf: |
{{ include (print .Template.BasePath "/etc/_dnsmasq.conf.tpl") . | indent 4 }}
  l3-agent.ini: |
{{ include (print .Template.BasePath "/etc/_l3-agent.ini.tpl") . | indent 4 }}
  metadata-agent.ini: |
{{ include (print .Template.BasePath "/etc/_metadata-agent.ini.tpl") . | indent 4 }}
  ml2-conf.ini: |
{{ include (print .Template.BasePath "/etc/_ml2-conf.ini.tpl") . | indent 4 }}
  neutron.conf: |
{{ include (print .Template.BasePath "/etc/_neutron.conf.tpl") . | indent 4 }}
  neutron-lbaas.conf: |
{{ include (print .Template.BasePath "/etc/_neutron-lbaas.conf.tpl") . | indent 4 }}
  neutron-policy.json: |
{{ include (print .Template.BasePath "/etc/_neutron-policy.json.tpl") . | indent 4 }}
  logging.conf: |
{{ include "loggerIni" .Values.logging | indent 4 }}


