kind: Deployment
apiVersion: extensions/v1beta1

metadata:
  name: metrics-{{.Values.name}}
  namespace: {{.Release.Namespace}}
  labels:
    system: openstack
    type: metrics
    component: {{.Values.name}}
spec:
  replicas: 1
  revisionHistoryLimit: 5
  strategy:
   type: Recreate
  selector:
   matchLabels:
    name: metrics-{{.Values.name}}
  template:
   metadata:
    labels:
     name: metrics-{{.Values.name}}
    annotations:
      chart-version: {{.Chart.Version}}
      checksum/etc-configmap.conf: {{ include (print $.Template.BasePath "/etc-configmap.yaml") . | sha256sum }}
      prometheus.io/scrape: "true"
      prometheus.io/port: "{{ .Values.port_metrics }}"
   spec:
    volumes:
      - name: config-metrics
        configMap:
          name: metrics-etc-{{.Values.name}}
    containers:
      - name: metrics
        image: "{{ .Values.image }}:{{ .Values.imageTag }}"
        imagePullPolicy: {{ default "IfNotPresent" .Values.imagePullPolicy | quote }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.port_metrics }}
          initialDelaySeconds: 30
          timeoutSeconds: 10
        env:
          - name: LOGLEVEL
            value: {{ .Values.loglevel }}
          - name: CONFIG
            value: /conf/config.yml
        ports:
          - name: metrics
            containerPort: {{ .Values.port_metrics }}
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.port_metrics }}
          initialDelaySeconds: 10
          timeoutSeconds: 10
        resources:
          limits:
            cpu: 250m
            memory: 32Mi
          requests:
            cpu: 5m
            memory: 16Mi
        volumeMounts:
          - name: config-metrics
            mountPath: /conf
            readOnly: true
