# Default values for mariadb.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

name: DEFINED-IN-COMPONENT-CHART
image: mariadb:10.1
port_public: 3306
#
#root_password:
#initdb_configmap:
#persistance_claim:

backup:
  enabled: false
  metrics: false
  interval_full: 1 days
  interval_incr: 1 hours
  image_version: v0.5.15
  os_password: DEFINED-IN-REGION-SECRETS
  os_username: db_backup
  os_user_domain: Default
  os_project_name: master
  os_project_domain: ccadmin
