# Default values for nova.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value
global:
  image_namespace: DEFINED-IN-REGION-CHART
  image_repository: DEFINED-IN-REGION-CHART
  nova_api_port_admin: '8774'
  nova_api_port_internal: '8774'
  nova_api_port_public: '443'
  nova_metadata_port_internal: '8775'
  nova_novnc_port_public: '443'
  nova_spicehtml5_port_public: '6082'

  hypervisors: []
  hypervisors_vmware: []
  hypervisors_kvm: []
  hypervisors_ironic: []

debug: "True"

db_name: nova
db_user: nova
db_password: DEFINED-IN-REGION-CHART

api_db_name: nova_api
api_db_user: nova_api
api_db_password: DEFINED-IN-REGION-CHART

port_metrics: '9102'

sentry_dsn: DEFINE_IN_REGION_CHART

#TODO we need to move to global or find another way to share image versions
image_version_neutron_server_m3: DEFINED-IN-REGION-CHART
image_version_neutron_openvswitch_agent:  DEFINED-IN-REGION-CHART
image_version_neutron_vswitchd:  DEFINED-IN-REGION-CHART
image_version_neutron_vswitchdb: DEFINED-IN-REGION-CHART

image_version_nova_api_m3: DEFINED-IN-REGION-CHART
image_version_nova_compute_m3: DEFINED-IN-REGION-CHART
image_version_nova_libvirt: DEFINED-IN-REGION-CHART
image_version_nova_conductor: DEFINED-IN-REGION-CHART
image_version_nova_consoleauth: DEFINED-IN-REGION-CHART
image_version_nova_novncproxy: DEFINED-IN-REGION-CHART
image_version_nova_spicehtml5proxy: DEFINED-IN-REGION-CHART
image_version_nova_scheduler: DEFINED-IN-REGION-CHART

cross_az_attach: 'False'

postgres:
  name: nova
  metrics:
    enabled: true
    customMetrics:
      openstack_compute_nodes:
        query: "SELECT host, free_disk_gb AS free_disk_gb_gauge, local_gb AS local_gb_gauge, free_ram_mb AS free_ram_mb_gauge, memory_mb AS memory_mb_gauge, vcpus_used AS vcpus_used_gauge, vcpus AS vcpus_gauge, running_vms AS running_vms_gauge FROM compute_nodes WHERE deleted = 0;"
        metrics:
          - host:
              usage: "LABEL"
              description: "Name of the host"
          - free_disk_gb_gauge:
              usage: "GAUGE"
              description: "Total free disk space in GB"
          - local_gb_gauge:
              usage: "GAUGE"
              description: "Total local disk size in GB"
          - free_ram_mb_gauge:
              usage: "GAUGE"
              description: "Free RAM in MiB"
          - memory_mb_gauge:
              usage: "GAUGE"
              description: "Total RAM in MiB"
          - vcpus_used_gauge:
              usage: "GAUGE"
              description: "vCPUs used"
          - vcpus_gauge:
              usage: "GAUGE"
              description: "Total vCPUs"
          - running_vms_gauge:
              usage: "GAUGE"
              description: "Number of VMs running"
              
      openstack_compute_instances:
        query: "SELECT project_id, COUNT(*) AS gauge, vm_state FROM instances GROUP BY vm_state, project_id"
        metrics:
          - project_id:
              usage: "LABEL"
              description: "Time of VM creation "
          - vm_state:
              usage: "LABEL"
              description: "Project ID"
          - count:
              usage: "GAUGE"
              description: "VM Count"

logging:
    formatters:
        context:
            class: oslo_log.formatters.ContextFormatter
        default:
            format: "%(message)s"
    handlers:
        stdout:
            class: StreamHandler
            args: "(sys.stdout,)"
            formatter: context
        "null":
            class: logging.NullHandler
            args: "()"
            formatter: default
        sentry:
            class: raven.handlers.logging.SentryHandler
            level: ERROR
            args: "()"
    loggers:
        root:
            handlers: "null"
            level: WARNING
        nova:
            handlers: stdout, sentry
            level: DEBUG
        oslo_vmware:
            handlers: stdout, sentry
            level: INFO
        amqp:
            handlers: stdout, sentry
            level: WARNING
        amqplib:
            handlers: stdout, sentry
            level: WARNING
        boto:
            handlers: stdout, sentry
            level: WARNING
        eventlet.wsgi.server:
            handlers: stdout, sentry
            level: INFO
        sqlalchemy:
            handlers: stdout, sentry
            level: WARNING
        suds:
            handlers: stdout, sentry
            level: INFO
