apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}-bin
  labels:
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    component: rabbitmq
data:
  rabbitmq-start: |
{{ include (print .Template.BasePath "/bin/_rabbitmq-start.tpl") . | indent 4 }}
