# Default values for manila.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

global:
  image_namespace: REQUIRED
  image_repository: REQUIRED
  manila_api_port_admin: '8786'
  manila_api_port_internal: '8786'
  manila_api_port_public: '443'

debug: "True"

pod:
  replicas:
    api: 2
  lifecycle:
    upgrades:
      deployments:
        revision_history: 5
        pod_replacement_strategy: RollingUpdate
        rolling_update:
           max_unavailable: 0
           max_surge: 1

image_version_manila_api_m3: DEFINED-IN-REGION-CHART
image_version_manila_scheduler_m3: DEFINED-IN-REGION-CHART
image_version_manila_share_m3: DEFINED-IN-REGION-CHART

# Dictionary mapping availability-zones to shares
# shares:
#   nova1:
#     shares_netapp:
#      - name: DEFINED-IN-REGION-CHART
#        host: DEFINED-IN-REGION-CHART
#        username: DEFINED-IN-REGION-CHART
#        password: DEFINED-IN-REGION-CHART
#        root_volume_aggregate: DEFINED-IN-REGION-CHART
#        aggregate_search_pattern: DEFINED-IN-REGION-CHART
#        port_search_pattern: DEFINED-IN-REGION-CHART
#        physical_network: DEFINED-IN-REGION-CHART
#        mtu: DEFINED-IN-REGION-CHART

shares: {}

db_name: manila
db_user: manila
db_password: DEFINED-IN-REGION-CHART

port_metrics: '9102'

sentry_dsn: DEFINE-IN-REGION-CHART

pg_metrics:
  name: manila
  db_name: manila
  db_user: manila
  db_password: DEFINED-IN-REGION-CHART
  customMetrics:
    openstack_manila_share_servers:
      query: "SELECT host, share_network_id, status, COUNT(*) AS count_gauge FROM share_servers GROUP BY host, share_network_id, status"
      metrics:
        - host:
            usage: "LABEL"
            description: "Project ID"
        - share_network_id:
            usage: "LABEL"
            description: "Share Network ID"
        - status:
            usage: "LABEL"
            description: "Status of the Server"
        - count_gauge:
            usage: "GAUGE"
            description: "Number of share networks"
    openstack_manila_shares:
      query: "SELECT shares.project_id, shares.share_type_id, shares.id, share_instances.status, COUNT(*) AS count_gauge, SUM(size) size_gauge FROM shares INNER JOIN share_instances ON shares.id=share_instances.share_id GROUP BY shares.id, shares.project_id, shares.share_type_id, share_instances.status"
      metrics:
        - project_id:
            usage: "LABEL"
            description: "Project ID"
        - share_type_id:
            usage: "LABEL"
            description: "Type of the share"
        - id:
            usage: "LABEL"
            description: "Share ID"
        - status:
            usage: "LABEL"
            description: "Share status"
        - count_gauge:
            usage: "GAUGE"
            description: "Number of shares"
        - size_gauge:
            usage: "GAUGE"
            description: "Size of shares"
    openstack_manila_snapshot:
      query: "SELECT share_snapshots.project_id, share_snapshots.share_id, share_snapshots.id, share_snapshot_instances.status, COUNT(*) AS count_gauge, SUM(size) size_gauge FROM share_snapshots INNER JOIN share_snapshot_instances ON share_snapshots.id=share_snapshot_instances.snapshot_id GROUP BY share_snapshots.id, share_snapshots.project_id, share_snapshots.share_id, share_snapshot_instances.status"
      metrics:
        - project_id:
            usage: "LABEL"
            description: "Project ID"
        - share_id:
            usage: "LABEL"
            description: "Type of the share"
        - id:
            usage: "LABEL"
            description: "Share ID"
        - status:
            usage: "LABEL"
            description: "Share status"
        - count_gauge:
            usage: "GAUGE"
            description: "Number of shares"
        - size_gauge:
            usage: "GAUGE"
            description: "Size of shares"
    openstack_manila_shares_stuck:
      query: "SELECT share_id, status, host, COUNT(*) FILTER (WHERE updated_at < now() - interval '15 minutes') AS count_gauge, MAX(EXTRACT(epoch FROM now() - updated_at)) AS max_duration_gauge from share_instances where deleted='False' and status in ('deleting','creating') GROUP BY share_id, status, host"
      metrics:
        - share_id:
            usage: "LABEL"
            description: "Type of the share"
        - status:
            usage: "LABEL"
            description: "Share status"
        - host:
            usage: "LABEL"
            description: "Project ID"
        - count_gauge:
            usage: "GAUGE"
            description: "Number of shares"
        - max_duration_gauge:
            usage: "GAUGE"
            description: "Maximum duration of state"
postgres:
  name: manila

logging:
    formatters:
        context:
            class: oslo_log.formatters.ContextFormatter
        default:
            format: "%(message)s"
    handlers:
        stdout:
            class: StreamHandler
            args: "(sys.stdout,)"
            formatter: context
        "null":
            class: logging.NullHandler
            formatter: default
            args: "()"
        sentry:
            class: "raven.handlers.logging.SentryHandler"
            level: ERROR
            args: "()"
    loggers:
        root:
            handlers: stdout, sentry
            level: WARNING
        manila:
            handlers: stdout, sentry
            level: DEBUG
        amqp:
            handlers: stdout, sentry
            level: WARNING
        amqplib:
            handlers: stdout, sentry
            level: WARNING
        sqlalchemy:
            handlers: stdout, sentry
            level: WARNING
        boto:
            handlers: stdout, sentry
            level: WARNING
        suds:
            handlers: stdout, sentry
            level: INFO
        eventlet.wsgi.server:
            handlers: stdout, sentry
            level: INFO
